<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sort_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort_id" data-rule="required" data-source="sort/index" class="form-control selectpage" name="row[sort_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bt_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bt_id" data-rule="required" data-source="bt/index" class="form-control selectpage" name="row[bt_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_id" data-rule="required" data-source="ftp/index" class="form-control selectpage" name="row[ftp_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sql_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sql_id" data-rule="required" data-source="sql/index" class="form-control selectpage" name="row[sql_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bt_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bt_name" data-rule="required" class="form-control" name="row[bt_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Site_size')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-site_size" data-rule="required" class="form-control" name="row[site_size]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Flow_size')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-flow_size" data-rule="required" class="form-control" name="row[flow_size]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sql_size')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sql_size" data-rule="required" class="form-control" name="row[sql_size]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ip_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ip_address" class="form-control" name="row[ip_address]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Domain_max')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-domain_max" data-rule="required" class="form-control" name="row[domain_max]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_audit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_audit" data-rule="required" class="form-control" name="row[is_audit]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Check_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-check_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[check_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Web_back_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-web_back_num" data-rule="required" class="form-control" name="row[web_back_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sql_back_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sql_back_num" data-rule="required" class="form-control" name="row[sql_back_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_vsftpd')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_vsftpd" data-rule="required" class="form-control selectpicker" name="row[is_vsftpd]">
                {foreach name="isVsftpdList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="normal"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
