<!--<div>-->
<!--    <b>1. Cron模式 <span class="text-success">[推荐]</span></b>-->
<!--    <div class="input-group">-->
<!--        <input type="text" class="form-control" aria-describedby="sizing-addon-cron" readonly value="{$cron}">-->
<!--        <span class="input-group-addon btn" id="sizing-addon-cron">一键监控</span>-->
<!--    </div>-->
<!--    <small class="text-success">该方法计划任务执行效果更好，能够有效避免网站日志过于臃肿的问题</small>-->
<!--</div>-->
<!--<hr>-->
<div>
    <b>1. Url模式</b>
    <div class="input-group">
        <input type="text" class="form-control" aria-describedby="sizing-addon-url" readonly value="{$queUrl}">
        <span class="input-group-addon btn" id="sizing-addon-url">一键监控</span>
    </div>
    <!--    <small class="text-danger">不建议使用该方法进行计划任务执行，会影响php执行效率且无故增加巨大的日志体积，留作备用方式</small>-->
</div>
<hr>
<!--<center class="text-info"><h4>以上方法也适用于手动添加监控（如不懂如何使用，请点击一键监控），任选其一即可，推荐使用<code>Cron</code>模式</h4></center>-->