
<link href="__CDN____STATIC__/Light-Year/css/animate.min.css?v={$static_version}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/codemirror/lib/codemirror.css?v={$static_version}">
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/lib/codemirror.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/scroll/annotatescrollbar.js?v={$static_version}"></script>


<!-- <script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/edit/editAll.js?v={$static_version}"></script> -->
<!-- <script type="text/javascript" src="__CDN__/assets/libs/codemirror/mode/modeAll.js?v={$static_version}"></script> -->
<!-- 引入javascript编辑器格式 -->
<script src="__CDN__/assets/libs/codemirror/mode/clike/clike.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/htmlmixed/htmlmixed.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/javascript/javascript.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/php/php.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/htmlmixed/htmlmixed.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/css/css.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/sql/sql.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/xml/xml.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/shell/shell.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/python/python.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/nginx/nginx.js?v={$static_version}"></script>
<script src="__CDN__/assets/libs/codemirror/mode/markdown/markdown.js?v={$static_version}"></script>

<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/dialog/dialog.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/search/search.js?v={$static_version}"></script>

<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/show-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/sql-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/html-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/xml-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/javascript-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/css-hint.js?v={$static_version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/anyword-hint.js?v={$static_version}"></script>
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/addon/hint/show-hint.css?v={$static_version}">
<!-- <link rel="stylesheet" href="__CDN__/assets/libs/codemirror/addon/lint/lint.css?v={$static_version}"> -->
<!-- 各种主题配色 -->
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/monokai.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/3024-day.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/3024-night.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/abcdef.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/ambiance.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/base16-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/bespin.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/base16-light.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/blackboard.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/cobalt.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/colorforth.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/dracula.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/duotone-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/duotone-light.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/eclipse.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/elegant.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/erlang-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/hopscotch.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/icecoder.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/isotope.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/lesser-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/liquibyte.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/material.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/mbo.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/mdn-like.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/midnight.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/monokai.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/neat.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/neo.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/night.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/panda-syntax.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/paraiso-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/paraiso-light.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/pastel-on-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/railscasts.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/rubyblue.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/seti.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/solarized.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/the-matrix.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/tomorrow-night-bright.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/tomorrow-night-eighties.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/ttcn.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/twilight.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/vibrant-ink.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/xq-dark.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/xq-light.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/yeti.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/zenburn.css?v={$static_version}">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/darcula.css?v={$static_version}">