<div class="alert alert-info-light">
    <i class="fa fa-bullhorn"></i> dnspod官网地址：<a href="https://www.dnspod.cn/"
        target="_blank">https://www.dnspod.cn/</a>
        <p class="">安全起见，不显示明文密钥，如需修改直接填写新密钥即可</p>
</div>
<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-id" class="control-label col-xs-12 col-sm-2">{:__('id')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-id" data-rule="required" class="form-control" name="row[id]" type="text" value="{$row.id}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-token" class="control-label col-xs-12 col-sm-2">{:__('token')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-token" data-rule="" class="form-control" name="row[token]" type="text"
                value="" placeholder="不改留空">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
        </div>
    </div>
</form>